<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.HomePage"/>
      <class name="tests.validateTitle"/>
      <class name="tests.AppTest"/>
      <class name="tests.validateNavigationBar"/>
      <class name="tests.RShLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
